<%= form_with(model: roombooking, local: true) do |form| %>
  <% if roombooking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roombooking.errors.count, "error") %> prohibited this roombooking from being saved:</h2>

      <ul>
      <% roombooking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
    <div class ="form-group">
      <div class="field">
        <%= form.label :room_id %>
        <% options = options_from_collection_for_select(@rooms, 'id', 'roomname' , @roombooking.room_id) %>
        <%= form.select :room_id,  options %>
      </div>
    </div>

     <div class ="form-group">
      <div class="field">
        <%= form.label :user_id %>
        <% options = options_from_collection_for_select(@users, 'id', 'email' , @roombooking.user_id) %>
        <%= form.select :user_id,  options %>
      </div>
    </div>

    <div class ="form-group">
      <div class="field">
        <%= form.label 'Start Time' %>
        <%= form.datetime_select :starttime %>
      </div>
    </div>
    <div class ="form-group">
      <div class="field">
        <%= form.label'End Time' %>
        <%= form.datetime_select :endtime %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-auto">
          <%= form.label :description %>
          <%= form.text_field :description %>
      </div>
    </div>
    <div class='col-auto'>
      <button type="submit" class="btn btn-dark">Create Booking</button>
    </div>
  
<% end %>
