<p id="notice"><%= notice %></p>

<h1>Roombookings</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Room</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Description</th>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
    <% @roombookings.each do |roombooking| %>
      <tr>
        <td><%= roombooking.id %></td>
        <td><%= roombooking.room.roomname %></td>
        <td><%= roombooking.starttime.strftime('%d-%m-%Y: %I:%M%P') %></td>
        <td><%= roombooking.endtime.strftime('%d-%m-%Y: %I:%M%P')%></td>
        <td><%= roombooking.description %></td>
        <td><%= roombooking.user.email %></td>
        <td><%= link_to 'Show', roombooking %></td>
        <td><%= link_to 'Edit', edit_roombooking_path(roombooking) %></td>
        <td><%= link_to 'Destroy', roombooking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roombooking', new_roombooking_path %>
