<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Room Booker</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Rooms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Bookings</a>
    </li>
  </ul>
</nav>

<p id="notice"><%= notice %></p>

<h1>Roombookings</h1>

<table>
  <thead>
    <tr>
      <th style="padding:0 15px;">ID</th>
      <th style="padding:0 15px;">Room</th>
      <th style="padding:0 15px;">Start Time</th>
      <th style="padding:0 15px;">End Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roombookings.each do |roombooking| %>
      <tr>
        <td style="padding:0 15px;"><%= roombooking.id %></td>
        <td style="padding:0 15px;"><%= roombooking.room.roomname %></td>
        <td style="padding:0 15px;"><%= roombooking.starttime.strftime('%d-%m-%Y: %I:%m%P') %></td>
        <td style="padding:0 15px;"><%= roombooking.endtime.strftime('%d-%m-%Y: %I:%m%P')%></td>
        <td style="padding:0 5px;"><%= link_to 'Show', roombooking %></td>
        <td style="padding:0 5px;"><%= link_to 'Edit', edit_roombooking_path(roombooking) %></td>
        <td style="padding:0 5px;"><%= link_to 'Destroy', roombooking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roombooking', new_roombooking_path %>
