<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @roombooking.room.roomname %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @roombooking.starttime.strftime('%d-%m-%Y: %I:%M%P') %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @roombooking.endtime.strftime('%d-%m-%Y: %I:%M%P') %>
</p>

<p>
  <strong>Description:</strong>
  <%= @roombooking.description %>
</p>

<%= link_to 'Edit', edit_roombooking_path(@roombooking) %> |
<%= link_to 'Back', roombookings_path %>
