<table>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.paragraph_1 %></td>
        <td><%= home.paragraph_2 %></td>
        <td><%= home.paragraph_3 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container">
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col">
    
      <%= render partial: "rooms/bookings", locals: {bookings: @todaybookings} %>
      
    </div>
  </div>
</div>


<br>

<%= link_to 'New Home', new_home_path %>
