<table>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.paragraph_1 %></td>
        <td><%= home.paragraph_2 %></td>
        <td><%= home.paragraph_3 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container">
  <div class="row">
    <div class="col">
         <% @todaybookings.each do |roombooking| %>
      <tr>
        <td><%= roombooking.id %></td>
        <td><%= roombooking.room.roomname %></td>
        <td><%= roombooking.starttime %></td>
        <td><%= roombooking.endtime %></td>
        <td><%= link_to 'Show', roombooking %></td>
        <td><%= link_to 'Edit', edit_roombooking_path(roombooking) %></td>
        <td><%= link_to 'Destroy', roombooking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </div>
    <div class="col">
    
    </div>
  </div>
</div>

<%= render '/rooms/bookings', home: @home %>

<br>

<%= link_to 'New Home', new_home_path %>
