  
  <p id="notice"><%= notice %></p>

  <h1>Rooms</h1>

  <table>
    <thead>
      <tr>
        <th style="padding:0 15px;">ID</th>
        <th style="padding:0 15px;">Roomname</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td style="padding:0 15px;"><%= room.id %></td>
          <td style="padding:0 15px;"><%= room.roomname %></td>
          <td style="padding:0 5px;"><%= link_to 'Show', room %></td>
          <td style="padding:0 5px;"><%= link_to 'Edit', edit_room_path(room) %></td>
          <td style="padding:0 5px;"><%= link_to 'Panel', panel_room_path(room)  %></td>
          <td style="padding:0 5px;"><%= link_to 'Bookings', bookings_room_path(room)  %></td>
          <td style="padding:0 5px;"><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Room', new_room_path %>
