<script src='https://icambron.github.com/timestack/files/moment.min.js'></script>
<script src='https://icambron.github.com/timestack/files/timestack.min.js'></script>
<link rel='stylesheet' type='text/css' href='https://icambron.github.com/timestack/files/timestack.css'>

<style>
  .container-fluid {
  height: 100vh;
  }
</style>
<div class="container-fluid d-flex flex-column">
  <div class="row">
    <div class="col-11">
      <h1 class="display-2"> <%= @room.roomname %> </h1>
    </div>
    <div class="col-1">
      <h1 class="display-5"><div id="panelClock"></div></h1>
    </div>
  </div>
  <div class="row my-auto">
    <div class="col-6">
      <h1 class="display-4 text-primary">Avaliable</h1>
      <h1 class="display-5 text-primary">Untill 5pm</h1>
      
    </div>
    <div class="col-6">
      <h1 class="display-4"><div id="panelClock"></div></h1>
    </div>
  </div>
  <div id="hourly"></div>
  <div id="timeline"></div>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Roomid</th>
      <th>Starttime</th>
      <th>Endtime</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |roombooking| %>
      <tr>
        <td><%= roombooking.id %></td>
        <td><%= roombooking.room_id %></td>
        <td><%= roombooking.starttime %></td>
        <td><%= roombooking.endtime %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="panelcontainer">

</div>

<p id="notice"><%= notice %></p>



<script>
function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('panelClock').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
  
startTime();
  
  $('#hourly').timestack({
  span: 'hour',
  data: [
    {
      title: 'Bob OOO',
      start: '2012-08-26T09:00',
      end: '2012-08-26T17:00',
      color: 'rgb(149, 203, 255)'
    },
    {
      title: 'Meeting',
      start: '2012-08-26T09:00',
      end: '2012-08-26T10:00',
      color: 'rgb(255, 149, 192)'
    },
    {
      title: 'Lunch',
      start: '2012-08-26T12:00',
      end: '2012-08-26T13:00',
      color: 'rgb(151, 255, 177)'
    },
    {
      title: 'Code review',
      start: '2012-08-26T12:30',
      end: '2012-08-26T15:30',
      color: 'rgb(255, 149, 192)'
    }
  ]
});
  
</script>
