<p id="notice"><%= notice %></p>

<p>
  <strong>Roomname:</strong>
  <%= @room.roomname %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<h2>Bookings</h2>

<table>
	<thead>
		<tr>
			<th style="padding:0 15px;">Start Time</th>
			<th style="padding:0 15px;">End Time</th>
		</tr>
	</thead>
	<tbody>
		<% @bookings.each do |booking| %>
			<tr>
				<td style="padding:0 15px;"><%= booking.starttime.strftime('%d-%m-%Y: %I:%m%P') %></td>
				<td style="padding:0 15px;"><%= booking.endtime.strftime('%d-%m-%Y: %I:%m%P') %></td>
			</tr>
		<% end %>
	</tbody>
</table>