<!-- <%= controller.controller_name %> -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="<%= 'active' if controller.controller_name == "homes" %>"><%= link_to "Home", homes_path(), class: "nav-link nav-item" %></li>
    <li class="<%= 'active' if controller.controller_name == "rooms" %>"><%= link_to "Rooms", rooms_path(), class: "nav-link nav-item" %></li>
    <li class="<%= 'active' if controller.controller_name == "roombookings" %>"><%= link_to "Bookings", roombookings_path(), class: "nav-link nav-item" %></li>
    <% if current_user %>
      <li class="<%= 'active' if controller.controller_name == "sessions" %>"><%= link_to 'Sign out', destroy_user_session_path, class: "nav-link nav-item", :method => :delete %></li>
    <% else %>
      <li class="<%= 'active' if controller.controller_name == "sessions" %>"><%= link_to 'Sign in', new_user_session_path, class: "nav-link nav-item" %></li>
    <% end %>
  </ul>
</nav>