<!-- <%= controller.controller_name %> -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <% if current_user %>
      <li class="<%= 'active' if controller.controller_name == "homes" %>"><%= link_to "Home", homes_path(), class: "nav-link nav-item" %></li>
      <li class="<%= 'active' if controller.controller_name == "rooms" %>"><%= link_to "Rooms", rooms_path(), class: "nav-link nav-item" %></li>
      <li class="<%= 'active' if controller.controller_name == "roombookings" && action_name != "mybookings" %>"><%= link_to "Bookings", roombookings_path(), class: "nav-link nav-item" %></li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= 'active' if action_name == "mybookings" || controller.controller_name == "registrations" %>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="<%= 'active' if action_name == "mybookings" %>"><%= link_to 'My Bookings', mybookings_path, class: "dropdown-item" %></a>
          <a class="<%= 'active' if controller.controller_name == "registrations" %>"><%= link_to 'Edit Profile', edit_user_registration_path, class: "dropdown-item" %></a>
        </div>
      </li>


       <li class="<%= 'active' if controller.controller_name == "sessions" %>"><%= link_to 'Sign out', destroy_user_session_path, class: "nav-link nav-item", :method => :delete %></li>
    <% else %>
      <li class="<%= 'active' if controller.controller_name == "sessions" %>"><%= link_to 'Log in', new_user_session_path, class: "nav-link nav-item" %></li>
    <% end %>
  </ul>
</nav>